@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.bg-gradiant {
  background: rgb(128, 230, 218);
  background: linear-gradient(
    98deg,
    rgba(128, 230, 218, 1) 0%,
    rgba(185, 210, 240, 1) 75%,
    rgba(242, 249, 250, 1) 100%
  );
}
.bg-app {
  padding: 25px 100px;
}
@media screen and (max-width: 601px) {
  .header-tools {
    flex-wrap: wrap;
  }
  .bg-app {
    padding: 25px;
  }
  #calendar {
    height: 100vh;
  }
}
@media screen and (max-width: 601px) {
  .bg-app {
    padding: 10px;
  }
}
.box-section {
  padding: 25px 50px;
  border-radius: 2rem;
  width: 90%;
  position: relative;
}
.expand-icon-sidebar {
  position: absolute;
  top: 50px;
  left: -7px;
  z-index: 5;
  background-color: #86e4dc;
  padding: 15px 10px;
  color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media screen and (max-width: 601px) {
  .box-section {
    padding: 25px;
  }
}
@media screen and (max-width: 426px) {
  .box-section {
    padding: 10px;
  }
  .title,
  .sub-title {
    text-align: center;
  }
  .header-tools {
    justify-content: center;
  }
}
.title {
  font-size: 4rem;
}
.sub-title {
  font-size: 1rem;
}
.cart {
  position: relative;
  background-color: #0ec2da;
  border-radius: 100%;
  width: max-content;
  height: max-content;
  padding: 9px 13px;
  color: #fff;
  margin-bottom: 15px;
}
.count-cart {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 12px;
  background-color: #58918c;
  border-radius: 100%;
  width: max-content;
  height: max-content;
  padding: 5px 8px;
}
.profile {
  background-color: #0ec2da;
  border-radius: 100%;
  width: max-content;
  height: max-content;
  padding: 7px 13px;
  color: #fff;
  margin-bottom: 15px;
}

.fc-toolbar-chunk:first-child {
  display: flex;
  align-items: center;
}
.fc-toolbar-chunk:first-child .btn-group .btn-primary {
  background-color: transparent !important;
  border: none !important;
  color: black;
  text-transform: capitalize;
}
.fc-toolbar-chunk:first-child .btn-group .btn {
  padding: 4px;
}
.fc-toolbar-chunk:first-child .fc-prev-button:focus,
.fc-toolbar-chunk:first-child .fc-next-button:focus {
  box-shadow: 0px 0px 3px 1px grey !important;
}
.fc-toolbar-chunk:first-child .fc-prev-button,
.fc-toolbar-chunk:first-child .fc-next-button {
  background-color: transparent !important;
  text-transform: capitalize;
  color: black;
  border: none !important;
}
.fc-toolbar-chunk:first-child .fc-today-button {
  background-color: transparent !important;
  text-transform: capitalize;
  color: black;
  border: 1px solid grey !important;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 10px;
}
.fc .fc-toolbar-title {
  font-size: 1.25em;
  color: #4e4b4b;
}
.fc-toolbar-chunk:last-child .btn-group .btn-primary.active {
  background-color: lightgrey !important;
}
.fc-toolbar-chunk:last-child .btn-group .btn-primary {
  background-color: transparent !important;
}
.fc-toolbar-chunk:last-child .btn-group .fc-dayGridMonth-button,
.fc-toolbar-chunk:last-child .btn-group .fc-listMonth-button {
  /* background-color: transparent !important; */
  border: 1px solid grey !important;
  color: black;
  text-transform: capitalize;
}
.fc-toolbar-chunk:last-child .btn-group .fc-dayGridMonth-button:focus,
.fc-toolbar-chunk:last-child .btn-group .fc-listMonth-button:focus {
  box-shadow: 0px 0px 3px 1px grey !important;
  border: none !important;
}
@media screen and (max-width: 767px) {
  .fc-toolbar.fc-header-toolbar {
    flex-direction: column;
  }
  .fc-toolbar-chunk {
    display: table-row;
    text-align: center;
    padding: 5px 0;
  }
}
.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #0ec2da;
}
.calendar-label {
  font-size: 8px;
  text-align: center;
  text-decoration: underline;
}
.search-bar {
  width: 100% !important;
}
.form-control:focus {
  box-shadow: none;
}
.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

ul.ks-cboxtags {
  list-style: none;
  padding: 10px 0;
}
ul.ks-cboxtags li {
  display: inline;
}
ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 10px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.ks-cboxtags li label {
  padding: 4px 6px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #d0d0d0;
  background-color: #e4e4e4;
  color: #5b5b5b;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #d0d0d0;
}

.select2 {
  margin-top: 10px;
  width: 100% !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #fff !important;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  padding-left: 8px !important;
  padding-right: 5px !important;
}
