@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
:root {
  --blue-color: #2b2f5f;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 5px;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(128, 230, 218);
  background: linear-gradient(
    98deg,
    rgba(128, 230, 218, 1) 0%,
    rgba(185, 210, 240, 1) 75%,
    rgba(242, 249, 250, 1) 100%
  );
}
.bg-app {
  display: block;
  padding: 25px 100px;
}
@media screen and (max-width: 991px) {
  .header-tools {
    flex-wrap: wrap;
  }
  .bg-app {
    padding: 25px;
  }
  #calendar {
    height: 100vh;
  }
  .header-tools {
    justify-content: center;
  }
}
@media screen and (max-width: 601px) {
  .bg-app {
    padding: 10px;
  }
}

.box-section {
  padding: 25px 50px;
  border-radius: 2rem;
  width: 90%;
  position: relative;
}
@media screen and (max-width: 426px) {
  .box-section {
    padding: 0;
    border-radius: 2rem;
    width: 100%;
    position: relative;
  }
}
.scroll-to-top {
  position: fixed;
  padding: 5px 10px;
  background-color: var(--blue-color);
  z-index: 996;
  color: #fff;
  border-radius: 10px;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}
.scroll-to-top:hover {
  cursor: pointer;
  background-color: #114cd6;
}
.scroll-to-top:active {
  background-color: #11119c;
}
.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}
.expand-icon-sidebar {
  position: absolute;
  top: 50px;
  left: -7px;
  z-index: 5;
  background-color: #86e4dc;
  padding: 15px 10px;
  color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media screen and (max-width: 601px) {
  .box-section {
    padding: 25px;
  }
}
@media screen and (max-width: 426px) {
  .box-section {
    padding: 10px;
  }
  .title,
  .sub-title {
    text-align: center;
  }
}
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.7);
  z-index: 997;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}
.sidebar {
  width: 270px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -999px;
  z-index: 999;
  background: #fff;
  color: #000;
  transition: all 0.3s;
  /* box-shadow: 3px 3px 3px rgba(27, 162, 167, 0.5); */
  text-align: left;
}
.sidebar.active {
  left: 0;
}
.sidebar-wrapper {
  position: relative;
}
.shrink-icon-sidebar {
  /* box-shadow: 1px 4px 9px 0px rgba(27, 162, 167, 0.5); */
  position: absolute;
  top: 50px;
  left: -200px;
  z-index: 999;
  background-color: #fff;
  padding: 15px 10px;
  color: #000;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.shrink-icon-sidebar.active {
  left: 260px !important;
}
.title {
  /* font-size: 1.5rem; */
  font-weight: 600;
  color: var(--blue-color);
}
.logo-app {
  width: 50%;
}
.sub-title {
  /* font-size: 1.3rem; */
  font-weight: 600;
  color: var(--blue-color);
}
.cart {
  position: relative;
  background-color: var(--blue-color);
  border-radius: 100%;
  width: max-content;
  height: max-content;
  padding: 9px 13px;
  color: #fff;
  margin-bottom: 15px;
}
.count-cart {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 12px;
  background-color: var(--blue-color);
  border-radius: 100%;
  width: max-content;
  height: max-content;
  padding: 5px 8px;
}
.profile {
  background-color: var(--blue-color);
  border-radius: 100%;
  width: max-content;
  height: max-content;
  padding: 7px 13px;
  color: #fff;
  margin-bottom: 15px;
}

.fc-toolbar-chunk:first-child {
  display: flex;
  align-items: center;
}
.fc-toolbar-chunk:first-child .btn-group .btn-primary {
  background-color: transparent !important;
  border: none !important;
  color: black;
  text-transform: capitalize;
}
.fc-toolbar-chunk:first-child .btn-group .btn {
  padding: 4px;
}
.fc-toolbar-chunk:first-child .fc-prev-button:focus,
.fc-toolbar-chunk:first-child .fc-next-button:focus {
  box-shadow: 0px 0px 3px 1px grey !important;
}
.fc-toolbar-chunk:first-child .fc-prev-button,
.fc-toolbar-chunk:first-child .fc-next-button {
  background-color: transparent !important;
  text-transform: capitalize;
  color: black;
  border: none !important;
}
.fc-toolbar-chunk:first-child .fc-today-button {
  background-color: transparent !important;
  text-transform: capitalize;
  color: black;
  border: 1px solid grey !important;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 10px;
}
.fc .fc-toolbar-title {
  font-size: 1.25em;
  color: #4e4b4b;
}
.fc-toolbar-chunk:last-child .btn-group .btn-primary.active {
  background-color: lightgrey !important;
}
.fc-toolbar-chunk:last-child .btn-group .btn-primary {
  background-color: transparent !important;
}
.fc-toolbar-chunk:last-child .btn-group .fc-dayGridMonth-button,
.fc-toolbar-chunk:last-child .btn-group .fc-listMonth-button {
  /* background-color: transparent !important; */
  border: 1px solid grey !important;
  color: black;
  text-transform: capitalize;
}
.fc-toolbar-chunk:last-child .btn-group .fc-dayGridMonth-button:focus,
.fc-toolbar-chunk:last-child .btn-group .fc-listMonth-button:focus {
  box-shadow: 0px 0px 3px 1px grey !important;
  border: none !important;
}
@media screen and (max-width: 767px) {
  .fc-toolbar.fc-header-toolbar {
    flex-direction: column;
  }
  .fc-toolbar-chunk {
    display: table-row;
    text-align: center;
    padding: 5px 0;
  }
}
.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: var(--blue-color);
}
.calendar-label {
  font-size: 8px;
  text-align: center;
  text-decoration: underline;
}
.search-bar {
  width: 100% !important;
}
.search-bar i {
  color: var(--blue-color) !important;
}
.form-control:focus {
  box-shadow: none;
}
.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

ul.ks-cboxtags {
  list-style: none;
  padding: 10px 0;
}
ul.ks-cboxtags li {
  display: inline;
}
ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 10px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.ks-cboxtags li label {
  padding: 4px 6px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #d0d0d0;
  background-color: #e4e4e4;
  color: #5b5b5b;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #d0d0d0;
}
.btn-secondary {
  background-color: var(--blue-color) !important;
  border-color: var(--blue-color) !important;
}
.btn-secondary:focus {
  box-shadow: 0px 0px 3px 1px grey !important;
}

.select2 {
  margin-top: 10px;
  width: 100% !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #fff !important;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  padding-left: 8px !important;
  padding-right: 5px !important;
}
@media screen and (max-width: 768px) {
  .header-pagination {
    text-align: center;
  }
  .pagination {
    justify-content: center !important;
  }
}
.pagination {
  font-size: small !important;
}
.page-link {
  padding: 0.2rem 0.4rem !important;
  color: #000 !important;
}
.page-item.active .page-link {
  background-color: var(--blue-color) !important;
  border-color: var(--blue-color) !important;
  color: #fff !important;
}
.page-item .page-link:focus {
  box-shadow: 0px 0px 3px 1px grey !important;
}
.date-divider {
  border-top: 1px solid #ccc;
  width: 100%;
}
.event-list {
  padding: 15px 0;
}
.event-list-item {
  margin-bottom: 20px;
}
.desc-section h3 {
  font-weight: 700;
  color: var(--blue-color);
  margin-bottom: 0;
}
.desc-section .event-status {
  font-size: 14px;
}
.desc-section .excerpt {
  font-size: 12px;
  text-align: justify;
}
.desc-section .description {
  font-size: 12px;
  text-align: justify;
}
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section img {
  border-radius: 10px;
  width: 100%;
  height: min-content;
}
.carousel-item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
  margin: 2.5px;
}
.carousel-item .thumb img {
  width: 100%;
  height: 70px;
  object-fit: cover;
}
.carousel-item img {
  width: 100%;
}
.carousel-control-prev-icon {
  margin-right: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232b2f5f' viewBox='0 0 10 10'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  margin-left: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232b2f5f' viewBox='0 0 10 10'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn-label {
  position: relative;
  /* left: -12px; */
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff !important;
}

@media screen and (max-width: 991px) {
  .cart-list-item {
    justify-content: center;
  }
}
.cart-list-item > .delete-item {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-list-item > .delete-item a {
  color: rgb(239, 29, 29);
}
.cart-list-item > .image-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.summary-section {
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px grey !important;
  text-align: center;
}
.summary-section h3 {
  font-weight: 600;
}
.summary-section h5 {
  font-weight: 600;
}
.summary-section .btn-book i {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  color: var(--blue-color);
  margin-right: 10px;
}
.summary-section .bottom-booking-desc {
  font-size: 8px;
}
.sign-section {
  padding: 10px 20px;
}
.jumbotron-section {
  margin: 10rem 0;
}
@media screen and (max-width: 1401px) {
  .jumbotron-section {
    margin: 5rem 0;
  }
}
@media screen and (max-width: 1201px) {
  .jumbotron-section {
    margin: 3rem 0;
  }
}
@media screen and (max-width: 992px) {
  .jumbotron-section {
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: 427px) {
  .sign-section {
    padding: 10px;
  }
}
.sub-section .jumbotron-sub-title {
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.sub-section .jumbotron-title {
  font-size: 5rem;
}
.sign-box {
  width: 60%;
  margin: 2rem auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
@media screen and (max-width: 427px) {
  .sign-box {
    width: 100%;
    margin: 2rem auto;
    padding: 20px;
  }
}
.sign-box > .logo img {
  width: 30%;
}

.form-sign .form-group {
  margin-bottom: 10px;
}
.form-sign label {
  font-weight: normal;
  font-size: 13px;
}
.form-sign .form-control {
  min-height: 38px;
  padding-left: 5px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.form-sign .form-control:focus {
  border-color: #ccc;
}
.form-sign .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-bottom: 1px solid #ced4da;
  padding-right: 5px;
  border-radius: 0;
}
.form-sign .btn,
.form-sign .btn:active {
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  min-width: 140px;
}
.form-sign .btn:hover,
.form-sign .btn:focus {
  background: #2926be !important;
}
.form-sign .hint-text {
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
}
.form-sign .not-member {
  color: #999;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -25px -25px;
  font-size: 13px;
  justify-content: center;
}
.form-sign a {
  color: #fff;
  text-decoration: underline;
}
.form-sign a:hover {
  text-decoration: none;
}
.form-sign a {
  color: var(--blue-color);
  text-decoration: none;
}
.form-sign a:hover {
  text-decoration: underline;
}
.form-sign .fa {
  font-size: 21px;
  position: relative;
  top: 6px;
  color: var(--blue-color);
}
.sign-box .copyright {
  font-size: 13px;
}
